.slide-from-right {
  &-enter-active,
  &-leave-active {
    transition: transform 0.5s ease;
  }
  
  &-enter-from {
    position: fixed;
  }
  
  &-enter-from,
  &-leave-to {
    transform: translate3d(100%, 0, 0);
    transition: transform 0.5s ease-in;

    [dir="rtl"] & {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
