//<Code id="icon-as-illustration">
.icon-as-illustration {
  --icon-size: 15rem;
}
//</Code>

//<Code id="icon-as-custom-illustration">
.icon-as-custom-illustration {
  --boy-skin: #f0d7bf;
  --boy-hair: #bf9b6f;
  --boy-background: #f1eff0;
  --boy-shirt: #b2746e;
  --boy-undershirt: #7e6865;
  --boy-browser-page-header: #d9a491;
  --boy-browser-page-button-outline: #d9baba;
  --boy-browser-page-icon: #d9baba;
  --boy-browser: #ddd;
  --boy-laptop: #51636e;
  --boy-laptop-logo: #91a5b1;
}
//</Code>
