//<Code id="icon-as-illustration">
.icon-as-illustration {
  --icon-size: 15rem;
}
//</Code>

//<Code id="icon-as-custom-illustration">
.icon-as-custom-illustration {
  --boy-skin: #f0d7bf;
  --boy-hair: #BF9B6F;
  --boy-background: #F1EFF0;
  --boy-shirt: #b2746e;
  --boy-undershirt: #7e6865;
  --boy-browser-page-header: #D9A491;
  --boy-browser-page-button-outline: #D9BABA;
  --boy-browser-page-icon: #D9BABA;
  --boy-browser: #ddd;
  --boy-laptop: #51636e;
  --boy-laptop-logo: #91a5b1;
}
//</Code>