@use "../../../styles/mixins";

//<Code id="menu-side-panel">
.menu-side-panel {
  --side-panel-content-padding: 0;
  --side-panel-tablet-content-padding: 0;

  &__container {
    @include mixins.inner-border(
      $element: 'menu-side-panel-container',
      $color: var(--color-border-subtle),
      $width: 0 0 1px 0,
      $radius: var(--border-radius-button)
    );
    padding: var(--space-12) 0;
  }
  &__footer {
    padding: var(--space-24) var(--space-20) var(--space-40);
  }
}
//</Code>
