.tos {
  --bullet-points-gap: var(--space-32);

  margin-block-start: var(--space-32);

  &__sub-points {
    --bullet-points-gap: var(--space-8);

    margin-block-start: var(--space-12);
  }
}

.ui-side-panel__dialog {
  z-index: 1;
}

.label-slot {
  --progress-width: 32px;
  &-subtitle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: var(--space-4) 0 0 0;
  }
  .ui-progress {
    width: var(--progress-width, 100%);
    margin: 0 var(--space-8) 0 0;
  }
}

.report-an-issue {
  &__actions {
    display: flex;
    justify-items: center;
  }
}

.condition__section {
  --icon-color: var(--color-text-action-primary);
}
