//<Code id="loading-common">
.loading-common {
  &--is-skeleton {
    width: 100%;
  }
}
//</Code>

//<Code id="loading-button">
.loading-button {
  &--is-outlined {
    --loader-ellipsis-dot-background: var(--color-icon-primary);
  }
}
//</Code>

//<Code id="loading-popover">
.loading-popover {
  max-width: 25rem;
  min-height: 18rem;

  &__message {
    --message-flex-direction: row-reverse;
    --message-tablet-flex-direction: row-reverse;
    --message-aside-margin-inline: 0 var(--space-12);
    --message-tablet-aside-margin-inline: 0 var(--space-12);
    --message-content-align-self: flex-start;
    --message-illustration-size: 1.5rem;

    margin: var(--space-16) 0;
    align-items: flex-start;
  }

  &__try-again {
    margin-block: var(--space-16) 0 ;
    margin-inline: 0;
  }
}
//</Code>

//<Code id="loading-side-panel">
.loading-side-panel {
  &__message {
    --message-flex-direction: row-reverse;
    --message-tablet-flex-direction: row-reverse;
    --message-aside-margin-inline: 0 var(--space-12);
    --message-tablet-aside-margin-inline: 0 var(--space-12);
    --message-content-align-self: flex-start;
    --message-illustration-size: 1.5rem;
  }

  &__try-again {
    margin-block: var(--space-16);
    margin-inline: 0;
  }
}
//</Code>
