//<Code id="loading-common">
.loading-common {
  &--is-skeleton {
    width: 100%;
  }
}
//</Code>

//<Code id="loading-button">
.loading-button {
  &--is-outlined {
    --loader-ellipsis-dot-background: var(--color-icon-primary);
  }
}
//</Code>

//<Code id="loading-popover">
.loading-popover {
  max-width: 25rem;
  min-height: 18rem;

  &__message {
    --message-flex-direction: row-reverse;
    --message-tablet-flex-direction: row-reverse;
    --message-aside-margin-inline: 0 var(--space-12);
    --message-tablet-aside-margin-inline: 0 var(--space-12);
    --message-content-align-self: flex-start;
    --message-illustration-size: 1.5rem;

    margin-block: var(--space-8);
    align-items: flex-start;
  }

  &__try-again {
    margin-block: var(--space-16) 0;
    margin-inline: 0;
  }
}
//</Code>

//<Code id="loading-side-panel">
.loading-side-panel {
  &__message {
    --message-flex-direction: row-reverse;
    --message-tablet-flex-direction: row-reverse;
    --message-aside-margin-inline: 0 var(--space-12);
    --message-tablet-aside-margin-inline: 0 var(--space-12);
    --message-content-align-self: flex-start;
    --message-illustration-size: 1.5rem;
  }

  &__try-again {
    margin-block: var(--space-16);
    margin-inline: 0;
  }
}
//</Code>

//<Code id="loading-container">
.loading-container {
  --container-tablet-padding-block: var(--space-40);
  --container-desktop-padding-inline: var(--space-48);
  --container-desktop-padding-block: var(--space-32);

  width: 100%;
  max-width: 48.75rem;

  &__recommended {
    margin-block: var(--space-16) 0;
  }

  &__description {
    margin-block: var(--space-4) 0;
  }

  &__accordion {
    margin-block-start: var(--space-24);
  }
}
//</Code>

//<Code id="loading-controls">
.loading-controls {
  max-width: 48.75rem;
  width: 100%;

  &__loader {
    width: 100%;
  }
}
//</Code>

//<Code id="loading-full-on-brand">
.loading-full-on-brand {
  position: absolute;
  inset: 0;
}
//</Code>
