@use "../../../styles/mixins";

.ui-body-model {
  width: 9.375rem;

  &__body-part {
    fill: var(--body-model-body-part-fill, transparent);
    transition: fill 150ms ease-in-out;

    @include mixins.with-hover {
      cursor: pointer;
    }

    @include mixins.hover {
      fill: var(--body-model-body-part-hover-fill, var(--color-blue-400));
    }

    &:focus {
      fill: var(--body-model-body-part-focus-fill, var(--color-blue-400));

      outline: none;
    }

    &--selected {
      fill: var(--body-model-body-part-fill, var(--color-blue-400));
    }
  }
}
