@use "../../../styles/mixins";

//<Code id="map">
.map {
  max-width: 40.75rem;
  width: 100%;

  &__region {
    cursor: pointer;
    fill: var(--color-blue-500);
    stroke: var(--color-blue-600);

    &:focus {
      outline: none;
      stroke: white;
    }

    @include mixins.hover {
      fill: var(--color-blue-300);
    }

    &--is-checked {
      fill: var(--color-blue-800);
      stroke: var(--color-blue-500);

      @include mixins.hover {
        fill: var(--color-blue-900);
      }

    }
  }

  &__focus-for-region {
    pointer-events: none;
    visibility: hidden;
    fill: transparent;
    stroke-linejoin: round;

    path:first-of-type {
      stroke: white;
      stroke-width: 6px;
    }

    path:last-of-type {
      stroke: var(--color-blue-500);
      stroke-width: 2px;
    }

    &--is-focused {
      visibility: visible;
    }
  }

  &__outline {
    fill: white;
  }
}
//</Code>

//<Code id="abdominal-pain">
.abdominal-pain {
  max-width: 21.25rem;
  width: 100%;

  &__part {
    cursor: pointer;
    fill: var(--color-blue-500);

    &:focus {
      outline: none;
    }

    @include mixins.hover {
      fill: var(--color-blue-600);
    }

    &--is-checked {
      fill: var(--color-blue-800);

      @include mixins.hover {
        fill: var(--color-blue-900);
      }

    }
  }

  &__focus-for-part {
    pointer-events: none;
    visibility: hidden;
    fill: transparent;
    stroke: white;
    stroke-width: 2px;

    &--is-focused {
      visibility: visible;
    }
  }

  &__outline {
    pointer-events: none;
    fill: var(--color-blue-700);
  }
}
//</Code>

//<Code id="body-model">
.body-model {
  max-width:10.5rem;
  width:100%;

  &__part {
    cursor: pointer;
    fill: var(--color-blue-200);

    @include mixins.from-tablet {
      fill: transparent;
    }

    @include mixins.hover {
      fill: var(--color-blue-400);
    }

    &--is-selected {
      fill: var(--color-blue-200);
    }

    &--is-highlighted {
      fill: var(--color-blue-400);
    }
  }

  &__outline {
    pointer-events: none;
    fill: var(--color-blue-600);
  }
}
//</Code>

