//<Code id="progress-low-value-no-radius">
.progress-low-value-no-radius {
  --progress-border-start-start-radius: 0;
  --progress-border-start-end-radius: 0;
  --progress-border-end-start-radius: 0;
  --progress-border-end-end-radius: 0;
  --progress-indicator-border-start-end-radius: 0;
  --progress-indicator-border-end-end-radius: 0;
}
//</Code>

//<Code id="progress-low-value-but-height">
.progress-low-value-but-height {
  --progress-height: 3rem;
}
//</Code>
