@mixin color($name, $colors) {
  @each $key, $value in $colors {
    --color-#{$name}-#{$key}: #{$value};
  }
}

:root {
  --color-white: #fff;

  @include color(
    $name: "gray",
    $colors: (
      "50": #f3f5f7,
      "100": #e7ebef,
      "200": #d6dde3,
      "300": #c1cbd5,
      "400": #a4b1bf,
      "500": #7d8fa3,
      "600": #5f7285,
      "700": #475463,
      "800": #333d48,
      "900": #1f262c,
    )
  );
  @include color(
    $name: "green",
    $colors: (
      "50": #e6f9f2,
      "100": #c2f5e2,
      "200": #92eece,
      "300": #6ddeb6,
      "400": #2dc692,
      "500": #1aa175,
      "600": #127f5b,
      "700": #0b5f43,
      "800": #064530,
      "900": #033021,
    )
  );
  @include color(
    $name: "blue",
    $colors: (
      "50": #edf6fd,
      "100": #daedfb,
      "200": #c2e0f8,
      "300": #a2cff5,
      "400": #71b5f0,
      "500": #2f91ea,
      "600": #1471c9,
      "700": #0f5496,
      "800": #0b3d6d,
      "900": #082c4d,
    )
  );
  @include color(
    $name: "red",
    $colors: (
      "50": #fff1f1,
      "100": #ffe4e4,
      "200": #ffd2d2,
      "300": #ffb8b8,
      "400": #ff8f8e,
      "500": #fa514f,
      "600": #d42e2e,
      "700": #a12020,
      "800": #781515,
      "900": #580d0d,
    )
  );
  @include color(
    $name: "yellow",
    $colors: (
      "50": #fff4db,
      "100": #ffe8b8,
      "200": #ffd882,
      "300": #ffc037,
      "400": #eba100,
      "500": #be8200,
      "600": #976700,
      "700": #704c00,
      "800": #513800,
      "900": #3a2700,
    )
  );

  // Text
  --color-text-body: var(--color-gray-900);
  --color-text-heading: var(--color-gray-900);
  --color-text-link-primary: var(--color-blue-600);
  --color-text-link-primary-hover: var(--color-blue-700);
  --color-text-link-primary-active: var(--color-blue-800);
  --color-text-link-secondary: var(--color-gray-600);
  --color-text-link-secondary-hover: var(--color-gray-700);
  --color-text-link-secondary-active: var(--color-gray-800);
  --color-text-placeholder: var(--color-gray-600);
  --color-text-negative: var(--color-white);
  --color-text-action-primary-enabled: var(--color-blue-600);
  --color-text-action-primary-hover: var(--color-blue-700);
  --color-text-action-primary-active: var(--color-blue-800);
  --color-text-action-secondary-enabled: var(--color-gray-600);
  --color-text-action-secondary-hover: var(--color-gray-700);
  --color-text-action-secondary-active: var(--color-gray-800);
  --color-text-dimmed: var(--color-gray-600);
  --color-text-disabled: var(--color-gray-400);

  // Icons
  --color-icon-primary: var(--color-blue-600);
  --color-icon-primary-hover: var(--color-blue-700);
  --color-icon-primary-active: var(--color-blue-800);
  --color-icon-secondary: var(--color-gray-600);
  --color-icon-secondary-hover: var(--color-gray-700);
  --color-icon-secondary-active: var(--color-gray-800);
  --color-icon-negative: var(--color-white);
  --color-icon-disabled: var(--color-gray-300);

  // UI (colors shared by graphic UI elements)
  --color-ui-bg-light: var(--color-gray-50);
  --color-ui-element-lighter: var(--color-gray-100);
  --color-ui-element-light: var(--color-gray-200);
  --color-ui-element-accessible: var(--color-gray-500);
  --color-ui-backdrop: var(--color-gray-800);
  --color-background-white: var(--color-white);
  --color-background-white-hover: var(--color-gray-50);
  --color-background-white-active: var(--color-gray-100);
  --color-background-subtle: var(--color-gray-50);
  --color-ui-focus: var(--color-blue-500);
  --color-ui-disabled: var(--color-gray-200);

  // Messages
  --color-alert-error-text: var(--color-red-600);
  --color-alert-error-icon: var(--color-red-500);
  --color-alert-error-border: var(--color-red-300);
  --color-alert-error-bg: var(--color-red-50);
  --color-alert-warning-text: var(--color-yellow-600);
  --color-alert-warning-icon: var(--color-yellow-500);
  --color-alert-warning-border: var(--color-yellow-300);
  --color-alert-warning-bg: var(--color-yellow-50);
  --color-alert-success-text: var(--color-green-600);
  --color-alert-success-icon: var(--color-green-500);
  --color-alert-success-border: var(--color-green-300);
  --color-alert-success-bg: var(--color-green-50);
  --color-alert-info-text: var(--color-blue-600);
  --color-alert-info-icon: var(--color-blue-500);
  --color-alert-info-border: var(--color-blue-300);
  --color-alert-info-bg: var(--color-blue-50);

  // Component-specific - selection controls
  --color-selection: var(--color-green-500);
  --color-selection-hover: var(--color-green-600);
  --color-selection-active: var(--color-green-700);

  // Component-specific - triage hero colors
  --color-triage-emergency-ambulance: var(--color-red-500);
  --color-triage-emergency-department: var(--color-white);
  --color-triage-consultation: var(--color-blue-500);
  --color-triage-self-care: var(--color-green-500);

  // Component-specific - button colors
  --color-button-contained-background-enabled: var(--color-green-600);
  --color-button-contained-background-hover: var(--color-green-700);
  --color-button-contained-background-active: var(--color-green-800);
  --color-button-contained-text: var(--color-white);

  // Component-specific - Checkbox and Radio
  --color-radio-checkbox-selected-enabled: var(--color-selection);
  --color-radio-checkbox-selected-hover: var(--color-selection-hover);
  --color-radio-checkbox-selected-active: var(--color-selection-active);

  // Component-specific - Range
  --color-range-slider-thumb-background-enabled: var(--color-green-600);
  --color-range-slider-thumb-background-hover: var(--color-green-700);
  --color-range-slider-thumb-background-active: var(--color-green-800);
  --color-range-slider-bar-indicator: var(--color-green-600);
  --color-range-slider-bar-track: var(--color-gray-200);

  // Component-specific - Border
  --color-border-divider: var(--color-gray-100);
  --color-border-subtle: var(--color-gray-200);
  --color-border-accessible: var(--color-gray-500);
  --color-border-hover: var(--color-gray-700);
  --color-border-active: var(--color-gray-900);
  --color-border-alert-error-accessible: var(--color-red-500);
}
