@mixin color($name, $colors) {
  @each $key, $value in $colors {
    --color-#{$name}-#{$key}: #{$value};
  }
}

html {
  --color-white: #fff;

  @include color($name: "gray", $colors: (
    "50": #f3f5f7,
    "100": #e7ebef,
    "200": #d6dde3,
    "300": #c1cbd5,
    "400": #a4b1bf,
    "500": #7d8fa3,
    "600": #5f7285,
    "700": #475463,
    "800": #333d48,
    "900": #1f262c,
  ));

  @include color($name: "green", $colors: (
    "50": #e6f9f2,
    "100": #c2f5e2,
    "200": #92eece,
    "300": #6ddeb6,
    "400": #2dc692,
    "500": #1aa175,
    "600": #127f5b,
    "700": #0b5f43,
    "800": #064530,
    "900": #033021,
  ));

  @include color($name: "blue", $colors: (
    "50": #edf6fd,
    "100": #daedfb,
    "200": #c2e0f8,
    "300": #a2cff5,
    "400": #71b5f0,
    "500": #2f91ea,
    "600": #1471c9,
    "700": #0f5496,
    "800": #0b3d6d,
    "900": #082c4d,
  ));

  @include color($name: "red", $colors: (
    "50": #fff1f1,
    "100": #ffe4e4,
    "200": #ffd2d2,
    "300": #ffb8b8,
    "400": #ff8f8e,
    "500": #fa514f,
    "600": #d42e2e,
    "700": #a12020,
    "800": #781515,
    "900": #580d0d,
  ));

  @include color($name: "yellow", $colors: (
    "50": #fff4db,
    "100": #ffe8b8,
    "200": #ffd882,
    "300": #ffc037,
    "400": #eba100,
    "500": #be8200,
    "600": #976700,
    "700": #704c00,
    "800": #513800,
    "900": #3a2700,
  ));

  --color-text-body: var(--color-gray-900);
  --color-text-heading: var(--color-gray-900);
  --color-text-action-primary: var(--color-blue-600);
  --color-text-action-primary-hover: var(--color-blue-700);
  --color-text-action-primary-active: var(--color-blue-800);
  --color-text-action-secondary: var(--color-gray-600);
  --color-text-action-secondary-hover: var(--color-gray-700);
  --color-text-action-secondary-active: var(--color-gray-800);
  --color-text-dimmed: var(--color-gray-600);
  --color-text-disabled: var(--color-gray-400);
  --color-text-error: var(--color-red-600);
  --color-text-warning: var(--color-yellow-600);
  --color-text-success: var(--color-green-600);
  --color-text-info: var(--color-blue-600);
  --color-text-on-action: var(--color-white);
  --color-text-on-selection: var(--color-white);
  --color-text-on-brand: var(--color-white);
  --color-text-on-brand-hover: var(--color-blue-50);
  --color-text-on-brand-active: var(--color-blue-100);
  --color-text-on-brand-disabled: var(--color-blue-400);

  --color-icon-primary: var(--color-blue-600);
  --color-icon-primary-hover: var(--color-blue-700);
  --color-icon-primary-active: var(--color-blue-800);
  --color-icon-secondary: var(--color-gray-600);
  --color-icon-secondary-hover: var(--color-gray-700);
  --color-icon-secondary-active: var(--color-gray-800);
  --color-icon-negative: var(--color-white);
  --color-icon-disabled: var(--color-gray-300);
  --color-icon-on-action: var(--color-white);
  --color-icon-on-selection: var(--color-white);
  --color-icon-on-brand: var(--color-white);
  --color-icon-on-brand-hover: var(--color-blue-50);
  --color-icon-on-brand-active: var(--color-blue-100);
  --color-icon-on-brand-disabled: var(--color-blue-400);

  --color-backdrop: var(--color-gray-800);
  --color-background-white: var(--color-white);
  --color-background-white-hover: var(--color-gray-50);
  --color-background-white-active: var(--color-gray-100);
  --color-background-subtle: var(--color-gray-50);
  --color-background-error: var(--color-red-50);
  --color-background-warning: var(--color-yellow-50);
  --color-background-success: var(--color-green-50);
  --color-background-info: var(--color-blue-50);
  --color-background-action: var(--color-green-600);
  --color-background-action-hover: var(--color-green-700);
  --color-background-action-active: var(--color-green-800);
  --color-background-disabled: var(--color-gray-200);
  --color-background-brand: var(--color-blue-600);
  --color-background-selection: var(--color-blue-600);
  --color-background-selection-hover: var(--color-blue-700);
  --color-background-selection-active: var(--color-blue-800);
  --color-skeleton-loader-base: var(--color-gray-100);
  --color-skeleton-loader-wave: var(--color-gray-200);

  --color-icon-error: var(--color-red-500);
  --color-icon-warning: var(--color-yellow-500);
  --color-icon-success: var(--color-green-500);
  --color-icon-info: var(--color-blue-500);

  --color-selectioncontrols-selection: var(--color-green-500);
  --color-selectioncontrols-selection-hover: var(--color-green-600);
  --color-selectioncontrols-selection-active: var(--color-green-700);

  --color-triage-emergency: var(--color-yellow-300);
  --color-triage-emergency-ambulance: var(--color-red-500);
  --color-triage-consultation: var(--color-blue-500);
  --color-triage-consultation-24: var(--color-blue-500);
  --color-triage-self-care: var(--color-green-500);

  --color-range-thumb: var(--color-green-600);
  --color-range-thumb-hover: var(--color-green-700);
  --color-range-thumb-active: var(--color-green-800);
  --color-range-progress-indicator: var(--color-green-600);

  --color-progress-indicator: var(--color-green-600);
  --color-progress-track: var(--color-gray-200);

  --color-border-divider: var(--color-gray-100);
  --color-border-subtle: var(--color-gray-200);
  --color-border-strong: var(--color-gray-500);
  --color-border-strong-hover: var(--color-gray-700);
  --color-border-strong-active: var(--color-gray-900);
  --color-border-focus-dark: var(--color-blue-500);
  --color-border-focus-light: var(--color-white);
  --color-border-warning-subtle: var(--color-yellow-300);
  --color-border-success-subtle: var(--color-green-300);
  --color-border-info-subtle: var(--color-blue-300);
  --color-border-error-subtle: var(--color-red-300);
  --color-border-error-strong: var(--color-red-500);
  --color-border-error-strong-hover: var(--color-red-600);
  --color-border-error-strong-active: var(--color-red-700);
  --color-border-selection: var(--color-blue-600);

  --color-chip-text: var(--color-white);
  --color-chip-background: var(--color-blue-600);
  --color-chip-icon: var(--color-white);
  --color-chip-icon-background: var(--color-blue-700);
  --color-chip-icon-background-hover: var(--color-blue-800);
  --color-chip-icon-background-active: var(--color-blue-900);

  --color-dataviz-diverging-track: var(--color-gray-100);
  --color-dataviz-diverging-moderately-negative: var(--color-yellow-300);
  --color-dataviz-diverging-strongly-negative: var(--color-red-500);
  --color-dataviz-sequential-weak: var(--color-gray-600);
  --color-dataviz-sequential-strong: var(--color-blue-600);
}
