:root {
  // Space
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-64: 4rem;

  // Border-radius
  --border-radius-sharp: 0;
  --border-radius-card: 5px;
  --border-radius-form: 5px;
  --border-radius-pill: 20rem;
  --border-radius-circle: 50%;

  // Box shadows
  --box-shadow-default: 0 2px 6px 0 rgba(125, 143, 163, 0.2);
  --box-shadow-outline: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-ui-focus);
}
