html {
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-64: 4rem;

  --border-radius-sharp: 0;
  --border-radius-container: 5px;
  --border-radius-button: 5px;
  --border-radius-form: 5px;
  --border-radius-pill: 20rem;
  --border-radius-circle: 50%;

  --box-shadow-low: 0 2px 6px rgba(51, 61, 72, 0.1);
  --box-shadow-high: 0 2px 16px rgba(51, 61, 72, 0.1), 0 2px 6px rgba(51, 61, 72, 0.1);

  --focus-outer: 0 0 0 2px var(--color-border-focus-light), 0 0 0 4px var(--color-border-focus-dark);
  --focus-inner: inset 0 0 0 2px var(--color-border-focus-light), inset 0 0 0 4px var(--color-border-focus-dark);

  --opacity-medium: 0.5;
}
