:root {
  // Font family
  --font-family-heading: "Roboto", sans-serif;
  --font-family-body: "Roboto", sans-serif;

  // Font size
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 1.75rem;
  --font-size-7: 2rem;

  // Font weight
  --font-weight-default: 400;
  --font-weight-thick: 500;

  // Line height
  --line-height-default: 1.5;
  --line-height-1: 1.25rem;
  --line-height-2: 1.5rem;

  // Letter spacing
  --letter-spacing-none: 0;
  --letter-spacing-small: 0.01rem;
  --letter-spacing-medium: 0.02rem;

  // Font
  // mobile variants
  /* stylelint-disable */
  --font-h1: var(--font-weight-default) var(--font-size-6) / var(--line-height-default) var(--font-family-heading);
  --font-h2: var(--font-weight-default) var(--font-size-4) / var(--line-height-default) var(--font-family-heading);
  --font-h3: var(--font-weight-default) var(--font-size-3) / var(--line-height-default) var(--font-family-heading);
  --font-h4: var(--font-weight-thick) var(--font-size-2) / var(--line-height-default) var(--font-family-heading);
  --font-h5: var(--font-weight-thick) var(--font-size-1) / var(--line-height-2) var(--font-family-heading);
  --font-body-1: var(--font-weight-default) var(--font-size-2) / var(--line-height-default) var(--font-family-body);
  --font-body-1-thick: var(--font-weight-thick) var(--font-size-2) / var(--line-height-default) var(--font-family-body);
  --font-body-2-comfortable: var(--font-weight-default) var(--font-size-1) / var(--line-height-2) var(--font-family-body);
  --font-body-2-compact: var(--font-weight-default) var(--font-size-1) / var(--line-height-1) var(--font-family-body);
  --font-body-2-comfortable-thick: var(--font-weight-thick) var(--font-size-1) / var(--line-height-2) var(--font-family-body);
  --font-body-2-compact-thick: var(--font-weight-thick) var(--font-size-1) / var(--line-height-1) var(--font-family-body);

  @media screen and (min-width: 768px) {
    // desktop variants
    --font-h1: var(--font-weight-default) var(--font-size-7) / var(--line-height-default) var(--font-family-heading);
    --font-h2: var(--font-weight-default) var(--font-size-5) / var(--line-height-default) var(--font-family-heading);
    --font-h3: var(--font-weight-default) var(--font-size-4) / var(--line-height-default) var(--font-family-heading);
  }
  /* stylelint-enable */

  &[dir=rtl] {
    --font-family-heading: "IBM Plex Sans", sans-serif;
    --font-family-body: "IBM Plex Sans", sans-serif;
  }
}
