html {
  --font-family-heading: "Roboto", sans-serif;
  --font-family-body: "Roboto", sans-serif;
}

html[dir="rtl"] {
  --font-family-heading: "IBM Plex Sans Arabic", sans-serif;
  --font-family-body: "IBM Plex Sans Arabic", sans-serif;
}
