@use "../variables/breakpoints";

:export {
  desktopminwidth: breakpoints.$desktop-min-width;
  fromdesktop: unquote("(min-width: #{breakpoints.$desktop-min-width})");
  fromtablet: unquote("(min-width: #{breakpoints.$tablet-min-width})");
  mobilemaxwidth: breakpoints.$mobile-max-width;
  tabletmaxwidth: breakpoints.$tablet-max-width;
  tabletminwidth: breakpoints.$tablet-min-width;
  tomobile: unquote("(max-width: #{breakpoints.$mobile-max-width})");
  totablet: unquote("(max-width: #{breakpoints.$tablet-max-width})");
}
