// reset
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

// themes
.docs-story {
  &.theme-brand {
    background: var(--color-background-brand);
  }
}

// stories hacks
.docs-story {
  .ui-backdrop {
    position: absolute;
  }

  .ui-popover--has-mobile {
    position: absolute;
  }

  .ui-side-panel__dialog:not(.slide-enter-from) {
    position: absolute;
  }

  .ui-modal__dialog {
    position: absolute;
  }
}

// background color for <Canvas> elements
.sb-canvas-brand {
  background-color: var(--color-background-brand)!important;
}
