// reset
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

// themes
.docs-story {
  &.theme-brand {
    background: var(--color-background-brand);
  }
}

// stories hacks
.docs-story {
  .ui-backdrop {
    position: absolute;
  }

  .ui-popover--has-mobile {
    position: absolute;
  }

  .ui-side-panel__dialog {
    z-index: 1;
  }

  .ui-side-panel__dialog:not(.slide-from-end-enter-from, .slide-from-start-enter-from, .slide) {
    position: absolute;
  }

  .ui-modal__dialog {
    position: absolute;
  }
}

// background color for <Canvas> elements
.sb-canvas-brand {
  background-color: var(--color-background-brand)!important;
}

// styles for withVariants decorator
.variants {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px 30px;
  justify-content: start;

  &__label {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    font: var(--font-caption);
  }
}
