//<Code id="dropdown-with-popover-width">
.dropdown-with-popover-width {
  --dropdown-popover-width: 15rem;
}
//</Code>

//<Code id="dropdown-with-popover-width">
.dropdown-with-input-toggle {
  --dropdown-popover-width: 26.25rem;
  --dropdown-popover-max-width: 26.25rem;

  &__input {
    width: 26.25rem;
  }

  &__no-results {
    --message-flex-direction: row-reverse;
    --message-tablet-flex-direction: row-reverse;
    --message-aside-margin: 0 var(--space-12) 0 0;
    --message-tablet-aside-margin: 0 var(--space-12) 0 0;
    --message-content-align-self: flex-start;
    --message-illustration-size: 1.5rem;

    padding: var(--space-24) var(--space-16);
  }
}
//</Code>
