//<Code id="form-field-with-input">
.form-field-with-input {
  &__input {
    width: 100%;
  }
}
//</Code>

//<Code id="form-field-with-checkboxes">
.form-field-with-checkboxes-description {
  --text-margin-block-end: var(--space-24);
}

.form-field-with-checkboxes {
  --form-field-alert-margin-block-start: 0;

  &__checkbox {
    margin-block-end: var(--space-24);
  }
}
//</Code>
