/**
 * CSS Custom Properties
 * <element>-border
 * <element>-border-width
 * <element>-borer-radius
 * <element>-border-style
 * <element>-border-color
 */
@mixin inner-border($element, $style: solid, $color: var(--color-border-strong), $width: 1px, $radius: 0) {
  position: relative;
  border: none;
  border-radius: var(--#{$element}-border-radius, #{$radius});

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: var(--#{$element}-border, var(--#{$element}-border-style, #{$style}) var(--#{$element}-border-color, #{$color}));
    border-width: var(--#{$element}-border-width, #{$width});
    border-radius: inherit;
    pointer-events: none;
  }
}