@function with-important($value, $important-flag) {
  @if $important-flag {
    $value: $value !important;

    @return $value;
  }

  @else {
    @return $value;
  }
}
// $font-token: string, token name like "--font-body-1"
// $important-flag: boolean, if true !important is added to style
@mixin font($font-token, $important-flag: false) {
  font:
    with-important(
      var(#{$font-token}),
      $important-flag
    );

  @if $font-token=="--font-h1" {
    letter-spacing:
      with-important(
        var(--letter-spacing-none),
        $important-flag
      );
  }

  @else if $font-token=="--font-h2" {
    letter-spacing:
      with-important(
        var(--letter-spacing-small),
        $important-flag
      );

    @media screen and (min-width: 480px) {
      letter-spacing:
        with-important(
          var(--letter-spacing-none),
          $important-flag
        );
    }
  }

  @else if $font-token=="--font-h3" {
    letter-spacing:
      with-important(
        var(--letter-spacing-small),
        $important-flag
      );
  }

  @else if $font-token=="--font-h4" {
    letter-spacing:
      with-important(
        var(--letter-spacing-medium),
        $important-flag
      );
  }

  @else if $font-token=="--font-h5" {
    letter-spacing:
      with-important(
        var(--letter-spacing-medium),
        $important-flag
      );
  }

  @else {
    letter-spacing:
      with-important(
        var(--letter-spacing-medium),
        $important-flag
      );
  }
}
