@mixin font ($element, $font-token, $to-extend: undefined) {
  $font: font!default;
  $letter-spacing: letter-spacing!default;

  @if ($to-extend != undefined) {
    $font: --#{$to-extend}-font;
    $letter-spacing: --#{$to-extend}-letter-spacing;
  }

  #{$font}: var(--#{$element}-font, var(--font-#{$font-token}));
  #{$letter-spacing}: var(--#{$element}-letter-spacing, var(--letter-spacing-#{$font-token}));
}
