@use './use-logical.scss' as *;

/**
 * CSS Custom Properties
 * <element>-border
 * <element>-border-width
 * <element>-borer-radius
 * <element>-border-style
 * <element>-border-color
 * <element>-transition
 */
@mixin inner-border($element, $style: solid, $color: var(--color-border-strong), $width: 1px, $radius: 0, $pseudo-element: 'after', $transition: border-color 150ms ease-in-out) {
  @include use-logical($element, border-radius, $radius);

  position: relative;
  border: none;
  transition: var(--#{$element}-transition, $transition);

  &::#{$pseudo-element} {
    @include use-logical($element, border, var(--#{$element}-border));
    @include use-logical($element, border-style, $style);
    @include use-logical($element, border-color, $color);
    @include use-logical($element, border-width, $width);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: inherit;
    pointer-events: none;
    transition: inherit;
  }
}
