name: Release
on:
  pull_request:
    branches:
      - 'release/**'
    types:
      - closed
jobs:
  if-merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
      - name: Tag Version
        uses: cardinalby/git-tag-action@master
        env:
          TAG: ${{github.event.pull_request.title}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{github.event.pull_request.title}}
          release_name: ${{github.event.pull_request.title}}
          body: ${{github.event.pull_request.description}}
          draft: false
          prerelease: false
