on:
  push:
    branches-ignore:
      - main
      - develop
    tags:
      - v*

name: Release

jobs:
  build:
    name: Try to create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          tag_name: ${{github.ref}}
          release_name: ${{github.ref}}
          # body: Text describing the contents of the release. Optional, and not needed if using body_path.
          # body_path A file with contents describing the release. Optional, and not needed if using body.
          draft: false
          prerelease: false
