@use "../../../styles/mixins";

.for-business {
  &__products {
    margin-block: var(--space-24) var(--space-32);
  }

  &__product {
    --button-border-start-start-radius: 0;
    --button-border-start-end-radius: 0;
    --button-border-end-start-radius: 0;
    --button-border-end-end-radius: 0;
    --button-border-block-width: 0;
    --button-border-inline-width: 0;

    @include mixins.focus {
      box-shadow: var(--focus-inner);
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      flex: 1;
      text-align: start;
      margin-block-start: var(--space-4);
    }

    &-prefix-icon,
    &-suffix-icon {
      --icons-size: 2rem;
    }

    &-prefix-icon {
     margin-inline: 0 var(--space-16);
    }

    &-suffix-icon {
      margin-inline: var(--space-12) 0 ;
    }
  }
}

.medical-certification {
  &__icon {
    --icons-size: 3rem;
    margin-block: var(--space-12) 0;
  }

  &__heading {
    margin-block: var(--space-8);
  }
}

.terms-of-service {
  &__heading {
    margin-block: 0 var(--space-32);
  }

  &__bullet-points {
    --bullet-points-gap: var(--space-32);

    &--nested {
      --bullet-points-gap: var(--space-8);

      margin-block-start: var(--space-12);
    }
  }
}

.interview-id {
  &__heading {
    margin-block: var(--space-4);
  }
}

//<Code id="horizontal-paging-as-mobile-menu">
.horizontal-paging-as-mobile-menu {
  --side-panel-content-padding: var(--space-12) var(--space-4);
  --side-panel-tablet-content-padding: var(--space-12) var(--space-32);

  &__title {
    display: flex;
    gap: var(--space-12);
  }
}
//</Code>
